<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>vD3CUfsWewPIqIhZmNYDVDdYft9nIEHXeuMI8wPI23c2e7ba</string>
	<key>BASE_URL</key>
	<string>https://www.yozgathakimiyet.com.tr</string>
</dict>
</plist>
